@import "@styles/mixins";

.demoReel {
  margin-bottom: 100px;

  iframe {
    width: 48vw;
    height: 27vw;
    @include mobile {
      width: 80vw;
      height: 45vw;
    }
  }
}
.gallery {
  width: 90%;
  margin: auto;
  @include mobile {
    width: 100%;
  }

  .galleryTitle {
    text-align: left;
    font-size: xx-large;
    border-bottom: 1px solid;
    padding: 0px 5px 5px 0px;
    width: fit-content;
    margin: 50px 25px 20px;
    @include mobile {
      text-align: center;
      margin: 40px auto;
    }
  }
  .galleryRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  	@media screen and (max-width: 600px) {
      justify-content: center;
	  flex-direction: column;
    }
  }
}
