*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;   
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

#banner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#banner p{
    margin: 0;
    padding: 0;
    font-size: 10vw;
}
#content{
    z-index: 3;
    margin: auto;
    width: 90%;
    height: 100vh;
}

#content p{
    font-size: xx-large;
}

#scrollIndicator{
	position: absolute;
	bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	z-index: 4;
}

#scrollIndicatorInput{
	position: absolute;
	bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 100px;
	height: 100px;
	z-index: 5;
}
