* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* border: 1px solid red; */
}

html {
  /* scroll-snap-type: block mandatory; */
  background-color: #252934;
  /* background-color: white; */
  color: white;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* overflow-x: hidden; */
}

.intro {
  font-size: inherit;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 80%;

  text-align: left;
}

.intro strong {
  color: #f33864;
  font-size: larger;
}

#viewButton {
  margin-top: 30px;
  background-color: Transparent;
  background-repeat: no-repeat;
  width: 30%;
  height: 50px;
  font-size: large;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

section {
  width: 100%;
  margin: 20px auto;
}

.sectionTitle {
  width: fit-content;
  height: 70px;
  margin: 40px auto 40px auto;
  font-size: xx-large;
  border-bottom: 1px solid white;
}

#aboutSection {
  margin-top: 0;
}

#about {
  margin: auto;
  width: 90%;
}

#aboutSplit {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 95%;
  margin: auto;
}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 100px;
}

#profile strong {
  font-size: 300%;
}

cite {
  position: relative;
  right: -120px;
  text-align: right;
  font-size: x-small;
}

#aboutImg {
  margin: auto;
  width: 60%;
}

#aboutAchievements {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: auto;
  width: 70%;
  gap: 50px;
}

.achievement {
  width: 150px;
  margin: auto;
}

.achievement img {
  width: 120px;
  height: 120px;
  margin: auto;
}

.achievement p {
  width: 150px;
  font-size: medium;
}

#cubeinc {
  background-image: url("imgs/cubeIncWide.PNG");
  grid-row: 1/4;
  grid-column: 1 / 4;
}

#inspirationjar {
  background-image: url("imgs/inspirationcapture.png");
  grid-row: 1/5;
  grid-column: 4 / 6;
}

#jetlagged {
  background-image: url("imgs/world.png");
  grid-row: 5/8;
  grid-column: 4 / 6;
}

#cashout {
  background-image: url("imgs/cashOutSkyView.PNG");
  grid-row: 4/6;
  grid-column: 1 / 3;
}

#sheepgoat {
  grid-row: 4/6;
  grid-column: 3 / 3;
  background-image: url("imgs/goatsheepbanner.png");
}

#bounceArchitect {
  background-image: url("imgs/bouncebanner.PNG");
  grid-row: 6/8;
  grid-column: 2 / 4;
}

#tapdefender {
  background-image: url("imgs/TapDefenderBanner.PNG");
  grid-row: 6/8;
  grid-column: 1;
}

#colorjump {
  background-image: url("imgs/colorjumpwide.png");
  grid-row: 8 / 10;
  grid-column: 1 / 3;
}

#rhymetime {
  background-image: url("imgs/rhymetimebanner.png");
  grid-row: 8 / 10;
  grid-column: 3 / 5;
}

#spacespin {
  background-image: url("imgs/spacespin.png");
  grid-row: 8 / 10;
}

#gallery {
  display: grid;
  margin: auto;
  grid-template-columns: 19% 19% 19% 19% 19%;
  grid-template-rows: 160px 160px 160px 160px 160px;
  justify-content: space-evenly;
  gap: 12px 0;
}

.gameBlock {
  border-radius: 2%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-shadow: black 0px 0px 10px;
}

.gameBlock:hover {
  transition: transform 0.2s; /* Animation */
  transform: scale(1.02);
}

.gametext {
  z-index: 2;
  opacity: 0;
  margin: auto;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.gametitle {
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; */
  font-size: 300%;

  font-weight: bolder;
}

.gamedescription p {
  margin: auto;
  width: fit-content;
  font-size: medium;
}

.hardToRead {
  text-shadow: black 0px 0px 10px, black 0px 0px 10px, black 0px 0px 10px,
    black 0px 0px 10px;
}

.gamelinks {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gamelinks a {
  font-weight: bold;
  color: gold;
}

.gamelinks img {
  vertical-align: middle;
}

#skillBar {
  width: 90%;
  margin: auto;
}

.skillPair img {
  width: 80px;
}

.skillPair {
  display: inline-block;
  margin: 20px;
}

#contactBar {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
  margin: auto auto 200px auto;
  border-radius: 25px;
  background-color: #383849;
  font-size: 200%;
}

#contactBar img {
  width: 40%;
}

#contact p {
  margin-right: 70px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #23262f;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  margin: auto;
  padding-top: 20px;
}

#socialLinks img {
  margin: 0 20px;
  width: 50px;
}
#socialLinks a {
  text-decoration: none;
}

.webgl-content {
  margin: auto;
  margin-top: 100px;
}

.returnHome {
  font-size: xx-large;
  text-align: left;
  margin: 20px 0 0 20px;
  color: white;
}

.loadWarning {
  font-style: italic;
  color: red;
}

/* TABLET */
@media screen and (max-width: 1200px) {
  #aboutSplit {
    flex-direction: column;
  }
  #aboutImg {
    width: 40vw;
    height: 40vw;
  }
  #aboutAchievements {
    grid-template-columns: 45% 45%;
    gap: auto;
    margin: auto;
    width: 100%;
  }

  cite {
    right: 0;
  }
  #gallery {
    display: flex;
    flex-direction: column;
  }
  .gameBlock {
    height: 300px;
  }
  #profile {
    margin: auto;
    margin-bottom: 100px;
  }

  section {
    width: 90%;
    margin: auto;
  }

  #contactBar {
    width: 100%;
    font-size: 100%;
  }

  .gamelinks {
    flex-direction: row;
  }
}

/* MOBILE */
@media screen and (max-width: 600px) {
}
