@import "@styles/mixins";
@import "@styles/variables";
.container {
  width: 300px;
  height: 500px;
  background-color: $secondary;
  border-radius: 5px;
  margin: 20px;
  display: flex;
  flex-direction: column;

  .imageAnchor {
    margin: 20px auto 10px;
    height: 20%;
    min-width: 200px;
  }
  .image {
    max-width: 90%;
    max-height: 100%;
  }

  .text {
    flex-grow: 1;
    background-color: $secondary;
    text-align: left;
    padding: 20px;

    .title {
      font-size: larger;
    }
    .description {
      margin-bottom: 30px;
    }

    .madeWithLabel {
      text-align: center;
      margin: 10px;
    }
    .madeWith {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .links {
    height: 50px;
    width: 100%;
    display: flex;

    background-color: $third;
    :hover {
      background-color: $fourth;
    }

    .link {
      flex-grow: 1;
      min-width: 30%;

      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}
