@import "../mixins";

#recommend {
  width: 80px;
  display: flex;
  position: absolute;
  margin-left: 20px;
  margin-top: 15px;
}

.gameBlock {
  border-radius: 2%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-shadow: black 0px 0px 10px;

  @include mobile {
    height: 300px;
  }
}

.gameBlock:hover {
  cursor: pointer;
  transition: transform 0.2s; /* Animation */
  transform: scale(1.02);
}

.gametext {
  z-index: 2;
  /* opacity: 0; */
  margin: auto;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.gametitle {
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000; */
  font-size: 300%;
  line-height: 100%;
  margin-bottom: 20px;
  font-weight: bolder;
}

.gamedescription p {
  margin: auto;
  width: fit-content;
  font-size: medium;
}

.hardToRead {
  text-shadow: black 0px 0px 10px, black 0px 0px 10px, black 0px 0px 10px,
    black 0px 0px 10px;
}

.gamelinks {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a {
    font-weight: bold;
    color: gold;
  }
  img {
    vertical-align: middle;
  }
  @include mobile {
    flex-direction: row;
  }
}
