@import "../mixins";

#demoReel {
  margin-bottom: 100px;

  iframe {
    width: 48vw;
    height: 27vw;
    @include mobile {
      width: 80vw;
      height: 45vw;
    }
  }
}

#gallery {
  display: grid;
  margin: auto;
  grid-template-columns: 19% 19% 19% 19% 19%;
  grid-template-rows: 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px;
  justify-content: space-evenly;
  gap: 12px 0;
  @include mobile {
    display: flex;
    flex-direction: column;
  }
}
