#demoReel {
  margin-bottom: 100px;
}
#demoReel > iframe {
  width: 48vw;
  height: 27vw;
}

#gallery {
  display: grid;
  margin: auto;
  grid-template-columns: 19% 19% 19% 19% 19%;
  grid-template-rows: 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px;
  justify-content: space-evenly;
  gap: 12px 0;
}
