a {
  text-decoration: none;
  color: black;
}

a:hover {
}

section {
  width: 80%;
  margin: auto;
  font-size: xx-large;
  text-align: center;
  margin-bottom: 200px;
}

#returnButton {
  border: 2px solid black;
  padding: 0 10px;
}

img {
  width: 10%;
}
