.skillPair {
  display: inline-block;
  margin: 20px;
}

.skillImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin: auto;
}

.skillImg {
  width: 100%;
  max-width: 70px;
  max-height: 70px;
}
