#aboutSection {
  margin-top: 0;
}

#about {
  margin: auto 80px;
}

#aboutSplit {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto 10px;
}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 100px;
}

#profile strong {
  font-size: 300%;
}

.cite {
  position: relative;
  text-align: right;
  font-size: x-small;
}

#aboutImg {
  margin: auto;
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
}

#aboutAchievements {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: auto;
  width: 70%;
}

@media screen and (max-width: 1200px) {
  
  #about{
    margin: 0;
  }
  #aboutSplit {
    margin: 0;
    flex-direction: column;
  }

  #aboutAchievements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    /* border: 1px solid red; */
    width: 100%;
    margin-bottom: 30px;
    /* height: 2000px; */
  }

  .cite {
    right: 0;
  }
  #profile {
    margin: auto;
    margin-bottom: 50px;
  }
}
