/* OLD INTERNET EXPLORER SUPPORT */
@import "mixins";
@import "variables";

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  background-color: $theme;
  color: white;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  flex-direction: column;
  text-align: center;
  /* overflow-x: hidden; */
}

section {
  width: 100%;
  margin: 20px auto;
  @include mobile {
    width: 95%;
    margin: auto;
  }
}

.sectionTitle {
  width: max-content;
  height: 70px;
  margin: 40px auto 40px auto;
  font-size: xx-large;
  border-bottom: 1px solid white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}
