@import "../mixins";

#aboutSection {
  margin-top: 0;
}

#about {
  margin: auto 80px;

  @include mobile {
    margin: 0;
  }
}

#aboutSplit {
  display: flex;
  flex-direction: row;
  margin: auto 10px;

  justify-content: center;
  @include mobile {
    margin: 0;
    flex-direction: column;
  }
}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 100px;
  strong {
    font-size: 300%;
  }
  @include mobile {
    margin: auto;
    margin-bottom: 50px;
  }
}

.cite {
  position: relative;
  text-align: right;
  font-size: x-small;
  @include mobile {
    right: 0;
  }
}

#aboutImg {
  margin: auto;
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
}

#aboutAchievements {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 60%;
  @include mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    width: 100%;
    margin-bottom: 30px;
    /* height: 2000px; */
  }
}
