.achievement {
  align-items: center;
  width: 150px;
  /* border: 1px solid red; */
  margin: 15px;

  img {
    width: 120px;
    height: 120px;
    margin: auto;
  }
  p {
    width: 150px;
    font-size: medium;
  }
}
