.achievement {
	align-items: center;
	width: 100%;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	justify-self: center;
	align-self: center;

	img {
		width: 150px;
		height: 150px;
		margin: auto;
		margin-bottom: 15px;
	}

	p {
		text-align: center;
		width: 180px;
		margin: auto;
		font-size: medium;
	}

}