/* OLD INTERNET EXPLORER SUPPORT */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  /* scroll-snap-type: block mandatory; */
  background-color: #252934;
  /* background-color: white; */
  color: white;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  flex-direction: column;
  text-align: center;
  /* overflow-x: hidden; */
}

section {
  width: 100%;
  margin: 20px auto;
}

.sectionTitle {
  width: max-content;
  height: 70px;
  margin: 40px auto 40px auto;
  font-size: xx-large;
  border-bottom: 1px solid white;
}

#aboutSection {
  margin-top: 0;
}

#about {
  margin: auto;
  width: 90%;
}

#aboutSplit {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 95%;
  margin: auto;
}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 100px;
}

#profile strong {
  font-size: 300%;
}

cite {
  position: relative;
  text-align: right;
  font-size: x-small;
}

#aboutImg {
  margin: auto;
  width: 50%;
  max-width: 200px;
}

#aboutAchievements {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: auto;
  width: 70%;
}

.achievement {
  width: 150px;
  margin: auto;
}

.achievement img {
  width: 120px;
  height: 120px;
  margin: auto;
}

.achievement p {
  width: 150px;
  font-size: medium;
}

/* #clickToTry {
  margin: 30px;
  font-size: large;
} */

#cubeinc {
  background-image: url("../public/imgs/cubeIncWide.png");
  grid-row: 1/4;
  grid-column: 1 / 4;
}

#recommend {
  width: 80px;
  display: flex;
  position: absolute;
  margin-left: 20px;
  margin-top: 15px;
}

#inspirationjar {
  background-image: url("../public/imgs/inspirationcapture.png");
  grid-row: 1/5;
  grid-column: 4 / 6;
}

#pixelbeats {
  background-image: url("../public/imgs/pixelbeats.png");
  grid-row: 4/8;
  grid-column: 1 / 3;
}

#jetlagged {
  background-image: url("../public/imgs/world.png");
  grid-row: 7/10;
  grid-column: 3 / 5;
}

#cashout {
  background-image: url("../public/imgs/cashOutSkyView.PNG");
  grid-row: 10/12;
  grid-column: 3 / 6;
}

#sheepgoat {
  grid-row: 4/7;
  grid-column: 3 / 3;
  background-image: url("../public/imgs/goatsheepbanner.png");
}

#bounceArchitect {
  background-image: url("../public/imgs/bouncebanner.PNG");
  grid-row: 5/7;
  grid-column: 4 / 6;
}

#tenseconds {
  background-image: url("../public/imgs/timerbanner.png");
  grid-row: 7/10;
  grid-column: 5 / 6;
}

#tapdefender {
  background-image: url("../public/imgs/TapDefenderBanner.PNG");
  grid-row: 8/10;
  grid-column: 1;
}

#colorjump {
  background-image: url("../public/imgs/colorjumpwide.png");
  grid-row: 8/10;
  grid-column: 2 / 3;
}

#rhymetime {
  background-image: url("../public/imgs/rhymetimebanner.png");
  grid-row: 10 / 12;
  grid-column: 1 / 2;
}

#spacespin {
  background-image: url("../public/imgs/spacespin.png");
  grid-row: 10 / 12;
  grid-column: 2 / 3;
}

#tenseconds .gametitle {
  font-size: 200%;
}

#demoReel {
  margin-bottom: 100px;
}
#demoReel > iframe {
  width: 48vw;
  height: 27vw;
}

#gallery {
  display: grid;
  margin: auto;
  grid-template-columns: 19% 19% 19% 19% 19%;
  grid-template-rows: 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px;
  justify-content: space-evenly;
  gap: 12px 0;
}

.gameBlock {
  border-radius: 2%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-shadow: black 0px 0px 10px;
}

.gameBlock:hover {
  transition: transform 0.2s; /* Animation */
  transform: scale(1.02);
}

.gametext {
  z-index: 2;
  opacity: 0;
  margin: auto;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.gametitle {
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; */
  font-size: 300%;
  line-height: 100%;
  margin-bottom: 20px;
  font-weight: bolder;
}

.gamedescription p {
  margin: auto;
  width: fit-content;
  font-size: medium;
}

.hardToRead {
  text-shadow: black 0px 0px 10px, black 0px 0px 10px, black 0px 0px 10px,
    black 0px 0px 10px;
}

.gamelinks {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gamelinks a {
  font-weight: bold;
  color: gold;
}

.gamelinks img {
  vertical-align: middle;
}

#skills a {
  text-decoration: none;
}

#skillBar {
  width: 90%;
  margin: auto;
}

.skillPair img {
  width: 80px;
}

.skillPair {
  display: inline-block;
  margin: 20px;
}

#contactBar {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: center;
  margin: 20px auto;
  border-radius: 25px;
  background-color: #383849;
  font-size: 200%;
}

#contactBar > * {
  margin: 0 20px;
}

#contactBar img {
  height: 100px;
  padding: 20px 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.webgl-content {
  display: inline-block;
  margin: 100px auto;
}

.returnHome {
  display: block;
  font-size: xx-large;
  text-align: left;
  margin: 20px 0 0 20px;
  color: white;
}

.loadWarning {
  font-style: italic;
  color: red;
}

/* TABLET */
@media screen and (max-width: 1200px) {
  #aboutSplit {
    flex-direction: column;
  }

  #aboutAchievements {
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 50px;
    margin: auto;
    width: 90%;
  }

  cite {
    right: 0;
  }

  #demoReel > iframe {
    width: 80vw;
    height: 45vw;
  }

  #gallery {
    display: flex;
    flex-direction: column;
  }
  .gameBlock {
    height: 300px;
  }
  #profile {
    margin: auto;
    margin-bottom: 100px;
  }

  section {
    width: 90%;
    margin: auto;
  }

  #contactBar {
    width: 100%;
    font-size: 100%;
  }

  .gamelinks {
    flex-direction: row;
  }
}

/* MOBILE */
@media screen and (max-width: 600px) {
}
